body{
    background: linear-gradient(rgba(47, 24, 147, 0.5), rgba(47, 24, 147, 0.5)),url("featuresbkg.jpg");
    height: 780px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.mockup {
    position: relative;
    width: 700px;
    margin-left: -20px;
    margin-top: 100px;
}

.laptop {
    width: 500px;
    height: 600px;
    display: block;
    margin: 0px;
}

.screen {
    position: absolute;
    height: 510px;
    top: 24px;      
    width: 365px; 
    left: 0px;  
}
#content-features{
    display: flex;
}
#content3{
    width: 600px;
    margin-top: 150px;
    color: white;
    font-family: sans-serif;
    margin-left: -70px;
}
#content3 h3{
    font-size: 42px;
    font-weight: 700;
}
#content3 h4{
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
}
#box1{
    width: 271px;
}
#box2{
    width: 271px;
}
#boxes2{
    display: flex;
    margin-top: 50px;
}
i{
    font-size: 38px;
    font-weight: 200px;
}
#boxes2 p{
    font-size: 16px;
    font-weight: 400;
}
#boxes2 h2{
    font-size: 14px;
    font-weight: 300;
    width:200px ;
    line-height: 22px;
}